@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", serif;
}
body {
  background-image: url("../resources/fondo 1.png");
  background-size: cover;
}
.gorputza {
  width: 75%;
  margin: auto;
  background-color: #242342;
}
.gorputza h1 {
  margin: auto;
  color: #fcea5e;
  text-align: center;
  margin-top: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #622455;
  padding: 10px 20px;
  width: 75%;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: auto;
}
header .logo img {
  max-width: 100px;
  height: auto;
  flex-shrink: 0;
}
nav ul {
  list-style: none;
  justify-content: space-between;
  display: flex;
  gap: 70px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
nav a {
  text-decoration: none;
  color: #fcea5e;
  font-weight: bold;
  font-size: 1em;
  display: block;
}
.icons img {
  width: 30px;
  margin-left: 10px;
}
.main .banner {
  text-align: center;
  padding: 50px;
  background-color: #242342;
  color: #fff;
  padding-top: 100px;
}
.banner h1 {
  color: #fcea5e;
  font-size: 5em;
  margin-top: 20px;
  padding-bottom: 20px;
}
.karratua {
  background-color: #fcea5e;
  width: 40%;
  margin-left: 30px;
  max-width: 500px;
  margin-right: 20px;
  color: #242342;
}
.karratua2 {
  background-color: #00d0ff;
  width: 40%;
  max-width: 500px;
  margin-right: 20px;
  color: #242342;
  margin-left: auto;
}
.karratua3 {
  background-color: #ff00dd;
  width: 40%;
  max-width: 500px;
  margin-left: 30px;
  color: #242342;
}
.textua {
  color: #242342;
  font-size: 1em;
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
.about {
  background-color: #fcea5e;
  width: 50%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  margin-left: 20px;
  margin-top: 50px;
}
.about .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about h2 {
  justify-content: center;
  color: #242342;
}
.about p {
  font-size: 1em;
  margin-bottom: 20px;
}
.about img {
  width: 100%;
  border: 3px dashed magenta;
  display: block;
}
.products {
  background-color: #00d0ff;
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: 20px;
  margin-top: -400px;
  height: 500px;
}
.products .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products h2 {
  justify-content: center;
  color: #242342;
}
.products img {
  width: 50%;
  height: auto;
  margin-right: 300%;
}
.products p {
  font-size: 1em;
  color: #242342;
}
footer {
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding: 20px;
  background-color: #622455;
  color: #fcea5e;
  margin: auto;
}
footer address {
  text-align: center;
}
.social {
  display: flex;
  gap: 10px;
}
.Grill {
  text-align: center;
  margin-right: 20%;
}
.social img {
  width: 30px;
  height: auto;
}
.scroll-text {
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease;
}
.scroll-text.show {
  opacity: 1;
  transform: translateX(0);
}
.hasierakoak,
.hanburgesak,
.postreak,
.edariak {
  color: #242342;
  font-size: 3em;
  margin-top: 20px;
  padding-bottom: 20px;
  
}
.container h2{
  margin-left: 5%;
}
.container span{
  margin-right: 10%;
}
h2 {
  font-size: 1.5em;
  color: #fcea5e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

h2 .arrow {
  font-size: 1em;
  margin-left: 10px;
}
.arrow.rotated {
  transform: rotate(180deg);
}
.product-container {
  display: flex;
  gap: 15px;
  overflow: hidden;
}
div#carousel3 {
  margin-left: 4.5%;
}
div#carousel1 {
  margin-left: 4.5%;
}
.hidden {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}
.visible {
  max-height: 500px;
  opacity: 1;
  pointer-events: auto;
}
.carousel-inner {
  overflow: hidden;
}
.carousel-item {
  display: flex;
  transition: transform 0.5s ease;
}
.image-row {
  display: flex;
  gap: 20px;
}
.item {
  text-align: center;
  background-color: #fcea5e;
}
.item img {
  width: 300px;
  height: auto;
  margin-bottom: 5px;
}
.item p {
  font-size: 14px;
  color: #333;
  margin: 0;
}
.carousel-img {
  width: 100%;
  height: auto;
  padding: 20px;
}
.cart-icon img {
  width: 50px;
  cursor: pointer;
}
.cart {
  position: fixed;
  right: 0;
  top: 0;
  width: 240px;
  height: 100vh;
  background-color: #242342;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  padding: 20px;
  color: #fcea5e;
}
.cart.open {
  transform: translateX(0);
}
.cart h2 {
  font-size: 1.2em;
  color: #fcea5e;
  text-align: center;
  margin-bottom: 20px;
}
.empty-message {
  color: #fcea5e;
  font-size: 0.9em;
  text-align: center;
}
.cart-items {
  margin-bottom: 20px;
  color: #fcea5e;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 0.9em;
}
.cart-item button {
  background-color: transparent;
  border: none;
  color: #fcea5e;
  cursor: pointer;
}
.cart-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1em;
  margin-top: 10px;
}
.checkout-button {
  width: 100%;
  padding: 10px;
  background-color: #622455;
  color: #fcea5e;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}
.modal {
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
  background-color: #e7b86b;
  padding: 20px;
  border: 1px solid #888;
  text-align: center;
  border-radius: 10px;
  width: 300px;
  max-width: 90%;
  margin: auto;
  margin-top: 100px;
}

img#modalImg{
  height: 100%;
  width: 100%;
}

.modal-content h2 {
  color: #242342;
}

.allergens img{
  width: 40%;
  margin-top: 10px;
}  

.modal-content span{
  width: 100%;
  height: 100%;
}

.close {
  top: 10px;
  right: 20px;
  color: #aaa;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: black;
}
.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.quantity-control button {
  font-size: 18px;
  padding: 5px 10px;
}
.add-to-cart {
  background-color: #622455;
  color: #fcea5e;
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  border: none;
}
.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-self: center;
  background-color: #242342;
  padding: 20px;
  border-radius: 10px;
  width: 75%;
  margin: 0 auto;
  color: #ffd700;
  text-align: center;
  align-items: center;
}
form {
  width: 100%;
  align-content: center;
  align-self: center;
}
.form-container h2 {
  font-size: 2em;
  margin-bottom: 20px;
}
.form-row {
  align-content: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  width: 90%;
  column-gap: 20%;
  margin-left: 5%;
  margin-top: 20px;
}
.form-input {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  flex-direction: column;
  flex: 1;
}
.form-input label {
  font-weight: bold;
  color: #ffd700;
  font-size: 12px;
  text-align: left;
}
a{
  color: #00d0ff;
}
.form-input input {
  background-color: #4e4c68;
  border: none;
  color: #ffd700;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  height: 45px;
  padding: 10px;
}
.form-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.submit-btn {
  background-color: #822459;
  border: none;
  padding: 10px 20px;
  color: #ffd700;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.submit-btn:hover {
  background-color: #a02d67;
}
.logout-btn{
    padding: 10px;
    background-color: #622455;
    color: #fcea5e;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    height: 20%;
}
@media (max-width: 858px) {
  
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
  }
  
  nav ul {
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 15px;
  }
  
  nav a {
    font-size: 1.2em;
  }
  
  .icons img {
    width: 25px;
  }
  
  .gorputza {
    width: 100%;
  }
  
  .karratua,
  .karratua2,
  .karratua3 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
  .about,
  .products {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  
  .social img {
    width: 30px;
  }
  
  .banner h1 {
    font-size: 2em;
  }
  
  .textua {
    font-size: 0.9em;
  }
  
  .hasierakoak,
  .hanburgesak,
  .postreak,
  .edariak {
    font-size: 1em;
  }
  
  .cart {
    width: 100%;
    padding: 10px;
  }
  
  .cart-items {
    font-size: 0.8em;
  }
  
  .product-container {
    flex-direction: column;
  }
  
  .image-row {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
  }
  
  .item {
    max-width: none;
    margin: 0 auto 20px;
  }
  
  .carousel-img {
    max-width: 100%;
    height: auto;
  }
  
  h2 {
    font-size: 1em;
    padding: 5px 0;
    margin-left: 5%;
  }
  
  span {
    margin-right: 20%;
    cursor: pointer;
  }
  
  iframe {
    width: 100%;
    height: 100%;
  }
  
  .form-container { 
    width: 100%;
  }
  
  video {
    width: 100%;
    height: 100%;
  }
  
  .products p{
    font-size: 1em;
  }
  .products img{
    margin-right: 200%;
  }

  .about p{
    font-size: 0.9em;
  }

  .form-container h2 {
    font-size: 1em;
    margin-bottom: 20px;
  }

  .form-row {
    align-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    column-gap: 20%;
    margin-left: 5%;
    margin-top: 20px;
  }

  .footer p{
    font-size: 2em;
  }
}
