<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grill & Chill</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css\styles.css' %}" />
  </head>
  <body>
    <div class="background">
      <div class="content">
        <nav class="navbar">
          <img
            src="{% static '/resources/logo.png' %}"
            alt="Logo Grill & Chill"
            class="logo"
          />
          <ul class="menu">
            <li><a href="#">ORRI NAGUSIA</a></li>
            <li><a href="#">PRODUKTUAK</a></li>
            <li><a href="#">KONTAKTUAK</a></li>
          </ul>
          <div class="icons">
            <a href="#"
              ><img
                src="{% static '/resources/Saskia.png' %}"
                alt="Carrito de Compras"
            /></a>
            <a href="#"
              ><img
                src="{% static '/resources/Profile.png' %}"
                alt="Perfil de Usuario"
            /></a>
          </div>
        </nav>

        {% block content %} {% endblock %}

        <footer>
          <address>
            <p>Plaza UNZAGA n°4</p>
            <p>20600 Eibar, Gipuzkoa</p>
          </address>
          <div class="social-icons">
            <a href="#">
              <img
                src="{% static '/resources/facebook.png' %}"
                alt="Facebook"
              />
            </a>
            <a href="#">
              <img src="{% static '/resources/insta.png' %}" alt="Instagram" />
            </a>
            <a href="#">
              <img src="{% static '/resources/twitter.png' %}" alt="Twitter" />
            </a>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
