{% extends 'usertemplates/base.html' %}
{% block content %}{% load static %}

<body>
  <div class="cart" id="cart">
    <h2>Tu pedido</h2>
    <p class="empty-message">Tu carrito e vacío</p>
    <div class="cart-items"></div>
    <div class="cart-total">
      <span>Importe total:</span>
      <span id="total-price">0,00€</span>
    </div>
    <button class="checkout-button">Ir a Ofertas</button>
  </div>

  <div class="gorputza">
    <section class="main">
      <div class="banner">
        <video width="50%" height="50%" controls>
          <source src="{% static 'resources/Amazing smash burgers.mp4' %}" type="video/mp4" />
        </video>
      </div>
    </section>

    <section class="about">
      <h2>ZEINTZUK GARA?</h2>
      <div class="content">
        <p>
          Gure jatetxea ez da edozein hamburgueseria: kalitate gorena, tokiko produktuak eta zapore paregabeak dira gure ardatzak. Haragi fresko eta artisau ogiekin egindako hamburguesak eskaintzen ditugu, eta aukera zabala dugu vegan eta begetarianoentzat ere. Gainera, gure giro atsegina eta Bilboren esentzia jasotzen duen dekorazioa ezin hobeak dira momentu bereziak bizitzeko. Zatoz eta gozatu esperientzia gastronomiko ahaztezina!
        </p>
        <img src="{% static 'resources/products/hamburguesa_clasica.jpg' %}" alt="Hamburguesa" />
      </div>
    </section>

    <section class="products">
      <h2>GURE PRODUKTUAK</h2>
      <div class="content">
        <img src="{% static 'resources/behia.gif' %}" alt="Vaca" />
        <p>
          Gure helburua kalitate goreneko produktuak eskaintzea da, eta horretarako tokiko eta freskoenak diren osagaiak erabiltzen ditugu. Gure haragia %100 freskoa eta modu arduratsuan aukeratua da, eta gure ogiak artisau-eran prestatzen dira, zapore ezin hobea bermatzeko.
        </p>
      </div>
    </section>
  </div>
</body>
{% endblock %}
