{% extends 'usertemplates/base.html' %}
{% block content %}{% load static %}

<body>
  <div class="cart" id="cart">
    <h2>Tu pedido</h2>
    <p class="empty-message">Tu carrito e vacío</p>
    <div class="cart-items"></div>
    <div class="cart-total">
      <span>Importe total:</span>
      <span id="total-price">0,00€</span>
    </div>
    <button class="checkout-button">Ir a Ofertas</button>
  </div>

  <div class="gorputza">
    <section class="main">
      <div class="banner">
        <video width="100%" height="100%" controls>
          <source src="{% static 'resources/Amazing smash burgers.mp4' %}" type="video/mp4" />
        </video>
      </div>
    </section>

    <section class="about">
      <h2>ZEINTZUK GARA?</h2>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <img src="{% static 'resources/products/hamburguesa_clasica.jpg' %}" alt="Hamburguesa" />
      </div>
    </section>

    <section class="products">
      <h2>GURE PRODUKTUAK</h2>
      <div class="content">
        <img src="{% static 'resources/behia.gif' %}" alt="Vaca" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
    </section>
  </div>
</body>
{% endblock %}