<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontaktuak</title>
    <link rel="stylesheet" href="CSS/Style.css">
</head>

<body>

    <header>
        <div class="logo">
            <img src="resources/LogoJweby.png" alt="Grill & Chill Logo">
        </div>
        <nav>
            <ul>
                <li><a class="nav-link" href="Index.html">Orri Nagusia</a></li>
                <li><a class="nav-link" href="Produktuak.html">Produktuak</a></li>
                <li><a class="nav-link" href="Kontaktuak.html">Kontaktuak</a></li>
            </ul>
        </nav>
        <div class="icons">
            <a href="#"><img src="resources/Saskia.png" alt="Carrito de Compras"></a>
            <a href="#"><img src="resources/Profile.png" alt="Perfil de Usuario"></a>
        </div>
    </header>
    <div class="gorputza">
        <section class="main">
            <div class="banner">
                <h1>KONTAKTUAK</h1>
            </div>
        
        <div class="karratua">
            <div class="textua">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="karratua2">
            <div class="textua">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="karratua3">
            <div class="textua">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        </section>
        <h1>LOKALIZAZIOA</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2909.202438980636!2d-2.4753210233881666!3d43.18426298263321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e2a88ffd4542f%3A0xbac663946bc8b8b9!2sUntzaga%20Plaza%2C%204%2C%2020600%20Eibar%2C%20Gipuzkoa!5e0!3m2!1ses!2ses!4v1730879341004!5m2!1ses!2ses" width="1422" height="1000" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <footer>
        <address>
            <p>Plaza UNZAGA n°4</p>
            <p>20600 Eibar, Gipuzkoa</p>
        </address>
        <div class="Grill">
            <p>GRILL & CHILL</p>
        </div>
        <div class="social">
            <img src="resources/snapchat.jpg" /> <img src="resources/facebook.jpg" />
            <img src="resources/twitter.jpg" />
        </div>
    </footer>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/ScriptIndex.js"></script>
</body>