{% extends 'usertemplates/base.html' %}
{% block content %}{% load static %}
<div class="gorputza">
  <section class="main">
    <div class="banner">
      <h1>KONTAKTUAK</h1>
    </div>

    <div class="karratua">
      <div class="textua">
        <h1 style="color: #242342; padding-top: 10px;">NUN GAUDE?</h1>
        <p>
          Plaza UNZAGA n°4 20600 Eibar, Gipuzkoa
        </p>
      </div>
    </div>
    <div class="karratua2">
      <div class="textua">
        <h1 style="color: #242342; padding-top: 10px;">GURE ORDUTEGIA</h1>
        <p>
          ASTELEHEN-OSTEGUN
          10:00-20:00
          OSTIRAL-LARUNBAT
          09:00-23:00
          IGANDEA
          12:00-16:00
        </p>
      </div>
    </div>
    <div class="karratua3">
      <div class="textua">
        <h1 style="color: #242342; padding-top: 10px;">GURE SAREAK</h1>
        <p style="padding-top:10px ;">
          FACEBOOK
        </p>
        <p style="padding-top:10px ;">
          INSTAGRAM
        </p>
        <p style="padding-top:10px ;">
          TWITTER
        </p>
      </div>
    </div>
  </section>
  <h1>LOKALIZAZIOA</h1>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2909.202438980636!2d-2.4753210233881666!3d43.18426298263321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e2a88ffd4542f%3A0xbac663946bc8b8b9!2sUntzaga%20Plaza%2C%204%2C%2020600%20Eibar%2C%20Gipuzkoa!5e0!3m2!1ses!2ses!4v1730879341004!5m2!1ses!2ses"
    width="100%" height="200%" style="border: 0" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/ScriptIndex.js"></script>
{% endblock %}
