{% extends 'usertemplates/base.html' %} {% block content %} {% load static %}
<div class="form-container">
  <h2>ERREGISTRATU</h2>
  <form action="{% url 'clientside_register' %}" method="post">
    {% csrf_token %}
    <!-- Fondo de la página-->

    {% if messages %}
    <div class="alert alert-danger">
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="form-row">
      <div class="form-input">
        <label for="name">Izena:</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Adibidea"
          required
          value="jon"
        />
      </div>
      <div class="form-input">
        <label for="surname">Abizena:</label>
        <input
          type="text"
          id="surname"
          name="surname"
          placeholder="Adibidea"
          required
          value="jon"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-input">
        <label for="password">Pasahitza:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Adibidea"
          required
          value="Admin123..."
        />
      </div>
      <div class="form-input">
        <label for="password">Pasahitza errpikatu:</label>
        <input
          type="password"
          id="rep_password"
          name="password"
          placeholder="Adibidea"
          required
          value="Admin123..."
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-input">
        <label for="gmail">Email:</label>
        <input
          type="email"
          id="gmail"
          name="gmail"
          placeholder="Adibidea"
          required
          value="izaro.itur@gmail.com"
        />
      </div>
      <div class="form-input">
        <label for="tlf">Telefonoa:</label>
        <input
          type="tel"
          id="tlf"
          name="tlf"
          placeholder="Adibidea"
          required
          value="123456789"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-input">
        <label for="direction">Helbidea:</label>
        <input
          type="text"
          id="direction"
          name="direction"
          placeholder="Adibidea"
          required
          value="asdfqwerty"
        />
      </div>
    </div>

    <button type="submit" class="submit-btn">Saioa hasi</button>
  </form>
</div>

{% block extra_js %}
<script src="{% static 'js/validations.js' %}"></script>
{% endblock %} {% endblock %}
