{% extends 'usertemplates/base.html' %}
{% block content %}
<div class="form-container">
    <h2>ERREGISTRATU</h2>
    <form action="{% url 'clientside_register' %}" method="post">
      <!-- Fondo de la página-->
      <div class="form-row">
        <div class="form-input">
          <label for="first_name">Izena:</label>
          <input
            type="text"
            id="first_name"
            name="first_name"
            placeholder="Adibidea"
            required
          />
        </div>
        <div class="form-input">
          <label for="last_name">Abizena:</label>
          <input
            type="text"
            id="last_name"
            name="last_name"
            placeholder="Adibidea"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-input">
          <label for="password">Pasahitza:</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Adibidea"
            required
          />
        </div>
        <div class="form-input">
          <label for="password">Pasahitza errpikatu:</label>
          <input
            type="password"
            id="rep_password"
            name="password"
            placeholder="Adibidea"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-input">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Adibidea"
            required
          />
        </div>
        <div class="form-input">
          <label for="phone">Telefonoa:</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            placeholder="Adibidea"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-input">
          <label for="address">Helbidea:</label>
          <input
            type="text"
            id="address"
            name="address"
            placeholder="Adibidea"
            required
          />
        </div>
      </div>

      <button type="submit" class="submit-btn">Saioa hasi</button>
    </form>
  </div>
{% endblock %}
